In [53]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [54]:
data = pd.read_csv("Covid Live.csv")

In [55]:
data.head()

,id,Country,TotalCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious, Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
3,4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
4,5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"

In [56]:
data.isnull().sum()

id                     0
Country                0
TotalCases             0
TotalDeaths            5
NewDeaths            227
TotalRecovered        16
ActiveCases           15
Serious, Critical     83
TotCases/1M pop        2
Deaths/1M pop          7
TotalTests            16
Tests/1M pop          16
Population             2
dtype: int64

In [60]:
data['TotalDeaths'].fillna(str(np.mean(data['TotalDeaths'])))

TypeError: can only concatenate str (not "int") to str

In [ ]:
data['TotalDeaths'] = data['TotalDeaths'].fillna(np.mean(data['TotalDeaths']))
data['TotalRecovered'] = data['TotalRecovered'].fillna(np.mean(data['TotalRecovered']))
data['ActiveCases'] = data['ActiveCases'].fillna(np.mean(data['ActiveCases']))
data['Serious, Critical'] = data['Serious, Critical'].fillna(np.mean(data['Serious, Critical']))
data['TotCases/1M pop'] = data['TotCases/1M pop'].fillna(np.mean(data['TotCases/1M pop']))
data['Deaths/1M pop'] = data['Deaths/1M pop'].fillna(np.mean(data['Deaths/1M pop']))
data['TotalTests'] = data['TotalTests'].fillna(np.mean(data['TotalTests']))
data['Tests/1M pop'] = data['Tests/1M pop'].fillna(np.mean(data['Tests/1M pop']))
data['TotalDeaths'] = data['TotalDeaths'].fillna(np.mean(data['TotalDeaths']))
data['Population'] = data['Population'].fillna(np.mean(data['Population']))

TypeError: can only concatenate str (not "int") to str